.fillout input[type="checkbox"] + label {
  /*color: black;*/
  font-style: normal;
} 

#create_event {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: None;
  background-color: #4286f4;
  color: white;
  text-align: center;
  border-radius: 10px;
  width: 300px;
  height: 100px;
  margin-top: 50px;
  font-size: 30px; 
}
#create_event:hover {
  background-color: #154a96; 
  
}

#go_home_page {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: None;
  background-color: #4286f4;
  color: white;
  text-align: center;
  border-radius: 10px;
  width: 300px;
  height: 100px;
  margin-top: 50px;
  font-size: 30px; 
}
#go_home_page:hover {
  background-color: #154a96; 
  
}



.checkboxLabels {
	font-size: 40px;
}

 .fillout input[type="checkbox"]:checked + label {
  /*color: ;*/
  /*font-style: italic;*/
  /*color: #dbdbdb;*/
  font-weight: 600;
} 
.fillout input[type="checkbox"]:disabled + label {
  color: #727272;
}


.checkbox:checked {
  font-style: oblique;
  font-style: italic;

  font-family: sans-serif;
}

.fillout {
	display: none;
}


.checkbox {
    margin-left: 40px;
    
}


.eventFilter .checkbox {
	float:left;

}
.checkboxLabels {
	font-size: 40px;
}