.eventFilter .checkbox {
	float:left;
}
.checkboxLabels{
	font-size: 25px
}
html, body {
  height: 100%;
}
body {
  background-color: #F8F9FA;
}
table {
    border-collapse: inherit;
    border-spacing: 0 10px;
}

.h4{
  font-size: 16px;
font-weight: 400;
font-style: italic;
margin-bottom: 75px;
text-transform: none;
color: grey;
font-family: 'Droid Serif',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}
#tableContainer-1 {
  height: 100%;
  width: 100%;
  display: table;
	margin-top:-70px;
}
#tableContainer-2 {
  vertical-align: middle;
  display: table-cell;
  height: 100%;
}
#myTable {
  margin: 0 auto;
}
tr {
    height: 300px;
    background-color:white;
    border-width: thin;
    border-color: black;
            }
td {
  padding-top:20px;
  padding-bottom:20px;
  padding-right:20px;
}
img{
  padding: 20px
}

.contBtn {
  display: inline-block;
  margin-left: 30px;

	width:80px;
  height: 30px;
  padding: auto 10px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #037AFB;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0.4px #787777;
}

.contBtn:hover {background-color: #015CBE}

.checkbox {
    margin-left: 40px;
}

.contBtn:active {
  background-color: #57B4FB;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

.eventFilter input[type="checkbox"] + label {
  color: black;
  font-style: normal;
}
.eventFilter input[type="checkbox"]:checked + label {
  color:black;
  font-weight: bolder;
}
